<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

   <div class="blogs content">
        <h2>All Blogs</h2>
    
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a href="/blogs/<%= blog._id %>">
                    <h4><i><%= blog.title %></h4></i>
                    <p><%= blog.snippet %></p>
                </a>
                <hr>
            <% }) %>
        <% } else { %>
            <p>There are no blogs to display!</p>
        <% } %>
           
    </div>


    <%- include('../partials/footer.ejs') %>
</body>
</html>